.env
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
created_tokens.txt
results.txt
sessionbase/
worker_bots/session_string*.txt
worker_bots/created_tokens.txt
worker_bots/results.txt
*.session
*.session-journal
reaksiya_bot/.env
reaksiya_bot/created_tokens.txt
reaksiya_bot/results.txt
